.containerFeatures {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.features h1 {
    text-align: center;
    padding-bottom: 30px;
    margin-top: 30px;
}

.price {
    width: 50px;
    height: 50px;
    background: #ff5722;
    color: white;
    font-weight: 600;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
}
.column1, .column2, .column3{
    width: 98% ;
    padding:0;
    text-align: justify;
    box-shadow: 0 0 10px 10px rgba(37, 73, 214, 0.18);
    float: none;
}

.feature-img {
    position: relative;
    width: 80%;
    height: auto;
}

.rating {
    padding: 3px;
    background: hsla(0, 0%, 100%, 50%);
    bottom: -1px;
    right: 0;
    height: 35px;
    margin-top: 7px;
    
   
}

.features .fa {
font-size: 15px;
color:#ff5722;
}


.feature-details h4{
    font-weight: 600;
    margin-top: 10px;
}
.containerPriceRating {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 50px;
}

.features .fa{
margin-right: 8px;
}